/*
=============================
      ______
    / __  /
   / / / /
  /    _/
 / /\ \
/_/  \_\ 

=============================
*/

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: 'Share Tech Mono', Monospace, Courier; 
                font-weight: 400; font-size: 17px; color: #c8c8c8; min-height: 100%; } 
                /*place background: #222; in body*/
html            {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0 0 50px 0;}
ul              {padding: 0;}
span            {padding: 0; margin: 0 10px 0 0;}
li              {margin: 15px 0; padding: 0; list-style: none;}
a               {text-decoration: none; color: #fff; transition-duration: 0.2s;}
a:hover         {color: #fff; font-weight:500; text-decoration: none;}
p               {padding: 0; margin: 10px 0 10px 0; line-height: 25px;}
img             {max-width: 100%; margin-bottom: 0px;
                  -webkit-box-shadow: 0px 0px 10px 0px #c8c8c8;
                  -moz-box-shadow: 0px 0px 10px 0px #c8c8c8;
                  box-shadow: 0px 0px 10px 0px #c8c8c8;
                  -webkit-border-radius: 0px;
                  -moz-border-radius: 0px;
                  -khtml-border-radius: 0px;  
                  border-radius: 0px;
                  border:solid white 0px;
                  float:left;
                  margin-right:25px;
                }
#page           {max-width: 100%; min-height: 100%; margin: auto; padding: 35px 60px;}
#content        {width: 100%;}
#header,#footer {width: 100%; overflow: hidden; letter-spacing: 0px;}
#list           {margin-bottom: 50px; margin-top: -30px;}
#post           {max-width: 720px; margin-bottom: 20px; margin-top: -10px; line-height: 28px;}
.categories     {max-width: 300px; right:0; margin: 40px 60px 0 0; position: fixed; background: #222;
                text-align: right; z-index: 0;}
@media          all and (max-width: 1000px) and (min-width: 20px) {
.categories     {visibility: hidden;}
.catbox         {visibility: hidden;}
}
.catbox         {width: 300px; height: 160px; right:0; margin:0; position: absolute; background: #222;
                display: block; z-index: 999;}
.footdogs       {margin:0 5px}
.tag            {color: #c8c8c8;}
.important      {margin-left: -18px;}
.title          {display: inline-block; margin-bottom: 20px; margin-top: 20px;}
.shoptitle      {display: inline-block; margin-bottom: 20px; margin-top: 20px; position: fixed;}
.subtitle       {display: inline-block; margin: 20px 0;}
.code           {max-width: 720px; background: #1f1f1f; padding: 20px; margin:10px 0 30px 0; display:inline-block;}
.shop           {max-width: 720px; margin: -10px 0 40px 0;}
.codesmall      {background: #1f1f1f; display:inline-block;}
.filter         {display:block; margin-bottom: 30px; margin-top: -20px;  }
.r:hover        {text-decoration: none;}
.description    {background: #1f1f1f; padding: 10px 0 10px 10px; margin-top: 0px;}
.videowrapper   {position: relative; padding-bottom: 56.45%; height: 0;}
.videowrapper   iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0);}


/* navigation bar details */

.topnav { overflow: hidden; letter-spacing: 0.1px; border-right:1px ; border-left:1px ; padding: 0px 0px 40px 0px; margin: 0px 0px 50px 0px;  font-family: 'Share Tech Mono', Monospace, Courier;  font-weight: 500;   font-size: 24px;   color: #fff;   min-height: 100%;}
/*place border-right:1px solid #222; border-right:1px solid #222;  in above*/
.topnav a { float: left; display: block;  border-radius: 5px; border-right:1px ; border-left:1px  ; color: #f2f2f2; text-align: center; padding: 15px 10.5px; text-decoration: none; font-size: 24px; }
/*place border-right:1px solid #222; border-right:1px solid #222;  in above*/
.topnav a:hover { background-color: #ddd; color: black; border-right:1px ; border-left:1px ; font-size: 24px; font-weight: 500;  }
/*place border-right:1px solid #222; border-right:1px solid #222;  in above*/
.topnav a.active { background-color: #ddd; color: #222;  border-right:1px ; border-left:1px  ; padding: 15px 10.5px; font-size: 24px; font-weight: 500; }
/*place border-right:1px solid #222; border-right:1px solid #222;  in above*/


.floating-box {
    display: inline-block;
    width:97%;
    
    
    height: auto;
    margin: 0px 20px 20px 0px; 
    border: 3px solid #c8c8c8;
    border-radius: 5px;  
    padding: 15px 15px 0px 15px;
}

.floating-box1 {
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 0px 20px 20px 0px; 
    border: 3px solid #c8c8c8;
    border-radius: 5px;  
    padding: 0;
}
	

/* vmhcughmuhg */

.fa {
  padding: 10px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: bold;
  margin: 5px 2px;
  border-radius: 5px;
  color: white;
 
  
}

.fa:hover {
    
     background: #fff ;
     color: #222;     
}



